<div>Acá va la navegación</div>
<app-nav></app-nav>

<router-outlet></router-outlet>

<div>Acá va el footer</div>

<!-- <h1>Esto es app.component.html</h1>


<h2>Componente card</h2>
<app-cards [img]="img" [titulo]="titulo" [descripcion]="descripcion" [precio]="precio"></app-cards> --> <!-- Con esta etiqueta llamo al componente -->

<!-- 
Dentro de la etiqueta del componente al que llamo pongo el dato que quiero pasar:
- El dato/variable entre [] es el que envío al componente hijo.
- El dato/variable entre "" es el que viene del componente padre.
-->

